<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:fragment="navigation">
<head>
    <link href="/webjars/bootstrap/3.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/webjars/font-awesome/4.2.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/acp/css/application.css}" rel="stylesheet">

    <script src="/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/3.3.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.0/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default" style="padding-left:200px; margin-top: -21px;" role="navigation" >
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:text="#{navbar.config.main}">Foren</a></li>
                <li><a href="#" th:text="#{navbar.config.smilies}" th:if="${configuration.getEnvironment()} == 'development'">Themes</a></li>
                <li><a href="#" th:text="#{navbar.config.avatar}">Benutzer</a></li>
                <li><a href="#" th:text="#{navbar.config.profiles}" th:if="${configuration.getEnvironment()} == 'development'">Tools</a></li>
                <li><a href="#" th:text="#{navbar.config.icons}" th:if="${configuration.getEnvironment()} == 'development'">Plugins</a></li>
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
            <!--<form class="navbar-form navbar-left" role="search">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Link</a></li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
</body>
</html>